<%- include("header") %>

<div style="border: 2px red dotted; height: 600px; width: 1000px;">
    <h1 class="bg-primary text-dark">transactionList</h1>
    <table class="table table-striped" align="center">
        <thead>
            <tr>
                <th>carname</th>
                <th>price</th>
                <th>paymentmethod</th>
              
            </tr>
        </thead>
        <tbody>
            <% for (let transaction of transactionData) { %>
                <tr>
                    <td><%= transaction.carname %></td>
                    <td><%= transaction.price %></td>
                    <td><%= transaction.paymentmethod %></td>
                   

                    <td>
                        <a href="/edittransaction?transactionId=<%= transaction._id %>">Edit</a> | 
                        <a href="/deletetransaction?transactionId=<%= transaction._id %>">Delete</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>